body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  border-color: #999b10;
  background-color: #d2d416;
  background-image: -moz-linear-gradient(top, #e1e265, #d2d416);
  background-image: -ms-linear-gradient(top, #e1e265, #d2d416);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e265), to(#d2d416));
  background-image: -webkit-linear-gradient(top, #e1e265, #d2d416);
  background-image: -o-linear-gradient(top, #e1e265, #d2d416);
  background-image: linear-gradient(top, #e1e265, #d2d416);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e265', endColorstr='#d2d416', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #d2d416;
}

.btn-success:active, .btn-success.active {
  background-color: #d2d416;
}

.btn-add{
    margin-bottom: 15px;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

footer p{
    text-align: center;
}

.search-bar{
    float: right;
    background: url("../img/busca.png");
    height: 48px;
    width: 262px;
}

.search-bar #search-button{
    margin: 0;
    padding: 0;
    float: right;
}

.search-bar input{
    margin: 13px 0 12px 20px;
    border: 0;
    background: transparent;
}

.search-bar input:focus{
    outline: transparent;
}

.search-box{
    width: 190px;
}

.default-search{
    color: #888;
}

.jumbo {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  text-align: center;
  background-color: #eeeeee;
}

.center{
    text-align: center;
}